@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
body{
   background-color:#e9e8e8c4;
   font-family:Montserrat;
}
 .btn{
    border:2px solid;
    padding:1em 2em;
    margin:0.625em;
    cursor:pointer;
    text-transform:uppercase;
 }
 .shadow-tl,.shadow-tr{
   border:2px solid #000000;
   border-radius:5px;
   background-color:#BFB9FC;
   color:#FFFFFF;
 }
 .shadow-tl:hover{
   animation:shadow-tl 0.3 both;
}
@keyframes shadow-tl{
   0%{
      box-shadow: 0 0 #000000, 0 0 #000000;
      transform:translateX(0) translateY(0);
   }
   100%{
      box-shadow:-1px -1px #000000, -2px -2px #000000,-3px -3px #000000,-4px -4px #000000, -5px -5px #000000,-6px -6px #000000,-7px -7px #000000;
      transform:translateX(8px) translateY(8px);
   } 
}
.shadow-tr:hover{
   animation:shadow-tr 0.3 both;
}
@keyframes shadow-tr{
   0%{
      box-shadow: 0 0 #000000, 0 0 #000000;
      transform: translateX(0) translateY(0);
   }
   100%{
      box-shadow: 1px -1px #000000, 2px -2px #000000, 3px -3px #000000, 4px -4px #000000, 5px -5px #000000,6px -6px #000000,7px -7px #000000;
              transform: translateX(-8px) translateY(8px);
   }
}
.shadow-bl,.shadow-br{
   background-color:#EB6E71;
   color:#E9EFF2;
   border:2px solid #000000;
   border-radius:5px;
}
.shadow-bl:hover{
   animation:shadow-bl 0.3 both;
}
@keyframes shadow-bl{
   0%{
      box-shadow: 0 0 #000000, 0 0 #000000;
      transform: translateX(0) translateY(0);
   }
   100%{
       box-shadow: -1px 1px #000000, -2px 2px #000000, -3px 3px #000000, -4px 4px #000000, -5px 5px #000000,-6px 6px #000000,-7px 7px #000000;
              transform: translateX(8px) translateY(8px);
   }
}
.shadow-br:hover{
             animation:shadow-br 0.3 both;
}

 @keyframes shadow-br {
    0% { 
              box-shadow: 0 0 #000000, 0 0 #000000;
              transform: translateX(0) translateY(0);
    }
    100% {
              box-shadow: 1px 1px #000000, 2px 2px #000000, 3px 3px #000000, 4px 4px #000000, 5px 5px #000000,6px 6px #000000,7px 7px #000000;
              transform: translateX(-8px) translateY(-8px);
    }
  }
  .shadow,.shadow-b{
   background-color:#5D7BE6;
   color:#E9EFF2;
   border:2px solid #000000;
   border-radius:5px;
  }
  .shadow:hover{
   animation:shadow 0.3 both;
}

@keyframes shadow {
0% { 
    box-shadow: 0 0 #000000, 0 0 #000000;
    transform: translateX(0) translateY(0);
}
100% {
    box-shadow: -1px -2px #000000, 2px -3px #000000, 3px -4px #000000, 4px -5px #000000, 5px -6px #000000,6px -7px #000000,7px -8px #000000,8px 9px #000000;
    transform: translateX(8px) translateY(8px);
   }
}
.shadow-b:hover{
   animation:shadow-b 0.3 both;
}
@keyframes shadow-b {
   0% { 
       box-shadow: 0 0 #000000, 0 0 #000000;
       transform: translateX(0) translateY(0);
   }
   100% {
       box-shadow: -1px -2px #000000, -2px -3px #000000, -3px -4px #000000, -4px -5px #000000, -5px -6px #000000,-6px -7px #000000,-7px -8px #000000,-8px 9px #000000;
       transform: translateX(8px) translateY(8px);
      }
   }